<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795152336054-mbfj161q1g6cnbnm3fi4e4igjjogbmku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795152336054-mbfj161q1g6cnbnm3fi4e4igjjogbmku</string>
	<key>API_KEY</key>
	<string>AIzaSyCl-Nv5SzEHeKT6zq8iQT6DKGaKUjrwoP8</string>
	<key>GCM_SENDER_ID</key>
	<string>795152336054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ssc</string>
	<key>PROJECT_ID</key>
	<string>skillexchangeplatform</string>
	<key>STORAGE_BUCKET</key>
	<string>skillexchangeplatform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795152336054:ios:85b9217522c7a3efb9d217</string>
</dict>
</plist>